<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addproduct" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <label for="">Name</label>
       <input type="text" name="name" required><br><br>
       <label for="">Image</label>
       <input type="file" name="image" required><br><br>
       <label for="">Description</label>
       <input type="text" name="description" required><br><br>
       <label for="">Price</label>
       <input type="text" name="price" required><br><br>
       
       <input type="submit">
    </form>
</body>
</html>