<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <table>
        <tr>
            <th>Sl. No</th>
            <th>Name</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.address }}</td>
            <td>
                
                 <form action="{% url 'adminuseraccept' id=i.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    {% if i.company_id.status == 'pending' %}
                        <button name="status" value="accepted">Accept</button>
                        <button name="status" value="rejected">Reject</button>
                    {% elif i.company_id.status == 'accepted' %}
                        <button name="status" value="rejected">Reject</button>
                    {% else %}
                        <button name="status" value="accepted">Accept</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>