{% extends 'userhome.html' %}
{% block content %}
<style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            
            background-color: rgb(218, 243, 240);
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            color: rgb(78, 76, 76);
        }

        table {
            width: 80%;
            margin: 0 auto 20px;
            margin-top: 50px;
            border-collapse: collapse;
            background: white;
            
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid rgb(221, 220, 220);
        }

        th {
            background: turquoise;
            font-size: 18px;
            color: grey;
        }

        td {
            font-size: 16px;
            color: grey;
        }

        h2 {
            margin-top: 20px;
            color: grey;
            font-size: 24px;
        }

        .link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background: green;
            color: white;
            text-decoration: none;
            font-size: 18px;
            border-radius: 5px;
            
        }

        

        @media (max-width: 768px) {
            table {
                width: 100%;
            }

            th, td {
                padding: 10px;
            }

            .link {
                font-size: 16px;
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product_id.name }}</td>
            <td>₹{{ item.product_id.price }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Total Price: ₹{{ total_price }}</h2>

<a class="link" href="{% url 'cashpaymentall' %}">Proceed to Cash Payment</a>

{% endblock %}
