<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>image</th>
            <th>description</th>
            <th>price</th>
            <th>quantity</th>
            <th></th>
        </tr>
        
        <tr>
            <th>{{data.name}}</th>
            <th><img src="{{data.image.url}}" alt=""></th>
            <th>{{data.description}}</th>
            <th>{{data.price}}</th>
            <th>{{data1.quantity}}</th>
            <th>{{totalprice}}</th>
        </tr>
    </table>
    
        <label for="paymentmethod">Select Payment Method:</label>
          <select name="paymentmethod" required>
            <option value="Cash">Cash</option>
            <option value="Debit Card">Debit Card</option>
          </select>
    
        
</body>
</html>