<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>image</th>
            <th>description</th>
            <th>price</th>
            <th>quantity</th>
            <th></th>
        </tr>
        
        <tr>
            <th>{{data1.name}}</th>
            <th><img src="{{data1.image.url}}" alt=""></th>
            <th>{{data1.description}}</th>
            <th>{{data1.price}}</th>
            <th>{{data.quantity}}</th>
            <th>{{totalprice}}</th>
            
        </tr>
    </table>
    <a href="{% url 'cash' id=data.id %}">Cash</a>
    
    <a href="{% url 'debit_card_payment' id=data.id %}">Pay with Debit Card</a>
        <label for="paymentmethod">Select Payment Method:</label>
        <select name="paymentmethod" required>
            <option value="">Choose</option>
           <option value="cash">Cash</option>
            <option value="Debit Card">Debit Card</option>
        </select>
        

    </form>
    
</body>
</html>