<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contactnumber</th>
            <th>Email</th>
            
        
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.address}}"</td>
            <td>{{i.contactnumber}}</td>
            <td>{{i.email}}</td>
            
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>