{% extends 'index.html' %}
{% load static %}
{% block content %}
    <style>
        
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: turquoise;
            color: white;
        }

        .nav-container {
            width: 100%;
            height: 30px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
        }

        .nav-container nav a {
            color: black;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        .profile-pic {
            width: 30px;
            height: 30px;
            margin-right: 15px;
        }


        
       

        
        
    </style>
</head>
<body>
    <div class="nav-container">
        <a href="{% url 'profileview' %}"><img src="{% static 'images/favicon.png' %}" alt="" class="profile-pic"></a>
      <nav>

        <a href="{% url 'companyprofile' %}">ProfileView</a>
        <a href="{% url 'addproduct' %}">Add Product</a>
        <a href="{% url 'allorders' %}">View Order</a>
        <a href="{% url 'logout' %}">Logout</a>
      </nav>
    </div>


{% endblock %}    
</body>
</html>
