<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
        <tr>
            <td>{{data1.name}}</td>
            <td><img src="{{data1.image.url}}" alt="" height="50px" width="50px"></td>
            <td>{{data1.address}}</td>
            <td>{{data1.email}}</td>
            <td>{{data1.phone}}</td>
            <td><a href="{% url 'edit' id=data1.id %}">Edit</a></td>
        </tr>
    </table>
</body>
</html>