{% extends 'admin.html' %}
{% block content %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(218, 243, 240);
            
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color:  rgb(73, 73, 73);
        }

        .containera {
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 20px;
            background-color: white;
            padding: 20px;
            height: 500px;
            border-radius: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            text-align: left;
            padding: 15px;
            border-bottom: 1px solid rgb(230, 227, 227);
        }

        th {
            background-color: turquoise;
            color: white;
        }


        

        td img {
            border-radius: 50%;
            object-fit: cover;
        }
        .add-user {
            display: inline-block;
            padding: 10px 20px;
            background-color: green;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
        }

        

        @media (max-width: 768px) {
            table {
                font-size: 14px;
            }

            th, td {
                padding: 10px;
            }
        }

        @media (max-width: 480px) {
            table {
                font-size: 12px;
            }

            th, td {
                padding: 8px;
            }

            td img {
                height: 40px;
                width: 40px;
            }
        }
    </style>
</head>
<body>
    
    <div class="containera">
        <h1>User Details</h1>
        <a href="userregister" class="add-user">Add Users</a>
        <table>
            
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            
            
                {% for i in data %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td><img src="{{ i.image.url }}" alt="{{ i.name }}" height="50px" width="50px"></td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.phone }}</td>
                    <td><a href="{% url 'edituserdetails' id=i.id %}">Edit</a></td>
                    <td><a href="{% url 'deleteuser' id=i.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            
        </table>
        
        
        
    </div>
{% endblock %}
