{% extends 'userproductview.html' %}
{% block content %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: rgb(218, 243, 240);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }

        .table-container {
            width: 90%;
            margin-top: 20px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            font-size: 14px;
        }

        

        th, td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

        th {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
        }

        

        
        .action-buttons {
            display: flex;
            gap: 10px;
        }

        .action-buttons a {
            text-decoration: none;
            color: white;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 12px;
        }

        .btn-delete {
            background-color: red;
        }

        


    </style>
</head>
<body>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Size</th>
                <th>Color</th>
                <th>Status</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in orders %}
            <tr>
                <td>{{ i.cart_id.product_id.product_id }}{{ i.product_id.product_id }}</td>
                <td>{{ i.cart_id.product_id.name }}{{ i.product_id.name }}</td>
                <td>{{ i.cart_id.product_id.description }}{{ i.product_id.description }}</td>
                <td>₹{{ i.product_id.price }}</td>
                <td>
                    {% for size in i.product_id.size.all %}
                       <span class="size">{{size.name}}</span>
                    {% empty %} 
                       <span class="No size available"></span> 
                    {% endfor %}     
                </td>
                <td>
                    {% for color in i.product_id.color.all %}
                       <span class="color">{{color.name}}</span>
                    {% empty %} 
                       <span class="No size available"></span> 
                    {% endfor %}     
        
                 </td>
                
                <td>
                    {% if i.status == 'order send' %}
                        <p style="color: red;">{{ i.status }}</p>
                    {% else %}
                        <p style="color: green;">{{ i.status }}</p>
                    {% endif %}
                </td>
                
                <td>
                    <div class="action-buttons">
                        <a href="{% url 'deleteorder' id=i.id %}" class="btn-delete">Delete</a>
                        
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
</body>
</html>


