<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
            border-collapse: collapse;
        }
        
    </style>
</head>
<body>
    <form action="search" method="post">
        {% csrf_token %}
        <input type="search" name="search">
        <input type="submit" value="search">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td><img src="{{ i.image.url }}" alt="" height="150px" width="150px"></td>
            <td>{{i.description}}</td>
            <td>{{i.price}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>